@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --site-background: 4, 10, 36, 255;
  --primary-text: 255, 255, 255, 255;
  --gradient-start: 17, 53, 135, 255;
  --gradient-end: 66, 135, 245, 255;
  --normal-border: 107, 114, 128, 255;
}

.light {
  --site-background: 255, 255, 255, 255;
  --primary-text: 0, 0, 0, 255;
  --gradient-start: 17, 53, 135, 255;
  --gradient-end: 66, 135, 245, 255;
  --normal-border: 107, 114, 128, 255;
}