.LoginForm-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

h2 {
    color: white;
    margin: 10px;
}

h4 {
    background-color: green;
    border-radius: 0.2em;
    padding: 1em;
}